.DS_Store
.idea/
atlassian-ide-plugin.xml
.coverage
.noseids
nosetests.xml
coverage
coverage.xml
.wheels
.venv
.venv3
.venv_pycharm
*.swp
*.swo
buildenv.properties
.venv.tar.gz
.vscode
.sass-cache
### Emacs
*~
.#*
*.rollbar
.vagrant
*/npm-debug.log
dump.rdb
.tox/
.wheels/
.docs_venv

.eggs/
_build/
*.pyc
*.egg-info/

*alembic.*.marker.sql
*.hypothesis

*.sqlite

Guardfile
*Gemfile*
venv*/
.lintenv/
.mypy_cache/
.mypy
_mypy_*
.dmypy.json
devenv/
*.txt.filt
*.py-e
*_pb2.py

logback-local.xml

*.json